@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hi All</h1>
    <p> <a href="https://docs.microsoft.com/aspnet/core">Deployed to Azure Web App</a>.</p>
</div>
